@import url('nullstyle.css');

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: Arial, tahoma, Helvetica, sans-serif;
  max-width: 1300px;
}

body {
    color: #fff;
    font-size: 1em;
    padding: 0;
    display: flex;
    flex-direction: column;
    /*background: #eef3f7;*/
    /* background: #f9fbff; */
    background: #eef3f7;
    gap: 7px;
    line-height: 1.5;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .timeline__body a[href*="http"] {
    position: relative;
  }
  .timeline__body a[href*="http"]::before {
    content: "\e90a";
    font-family: 'icomoon';
    font-size: 0.95em;
    padding-right: 5px;
    color: rgba(47, 111, 200, 0.75);
    font-style: normal;
  }
  /* a[href$=".pdf"]::before {
    content: "\e90b";
    font-family: 'icomoon';
    font-size: 1.1em;
    padding-right: 3px;
    color: rgba(47, 111, 200, 0.75);
  } */

  .timeline__body a[href*="http"]:hover::before {
    color: #73b5e5;
  }
  .timeline__body a[href*="gallery"] {
    /* position: relative;
    margin-left: 22px; */
  }
  .timeline__body a[href*="gallery"]::before {
    /* position: absolute;
    left: -20px; */
    content: "\e90c";
    font-family: 'icomoon';
    font-size: 0.95em;
    padding-right: 5px;
    color: rgba(47, 111, 200, 0.75);
  }
  .timeline__body a[href*="gallery"]:hover::before, .timeline__body a[href*="http"]:hover::before {
    color: #73b5e5;
    border-bottom: 1px solid #fff;
    padding-bottom: 2.4px;
  }
  .timeline__body a[href$=".jpg"]:hover {
    border-bottom: none;
  }
  .header {
    /*padding: 15px;*/
    display: flex;
    /*margin-top: 44px;*/
    flex-basis: 60px;
    background-color: #265a92;
    border-bottom: 4px solid gold;
    border-radius: 0 0 3px 3px;
    line-height: 1;
    font-size: 1.1em;
    box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
  }
  .header__body {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 35px 0 35px;
  }
  .header__logo {
    position: relative;
  }
  .header__logo a img {
    display: block;
    width: 100%;
  }
  .header__logo a {
    display: block;
    width: 340.083px;
  }
  .header__logo .socials {
    position: absolute;
    top: 0;
    right: 0;
    cursor: crosshair;
  }
  /*.header__logo .socials__body {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 44px;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
  }*/
  .header__logo .socials__body {
    display: flex;
    /* justify-content: end;
    align-items: center; */
    height: 44px;
    /* gap: 10px; */
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
    position: relative;
  }
  /*.header__logo .socials .facebook {
    width: 32px;
    height: 32px;
    display: flex;
    border: 1px solid white;
    border-radius: 50%;
    transition-duration: 0.4s;
    background-color: #133f6d;
  }*/
  .header__logo .socials .facebook {
    position: absolute;
    width: 33px;
    height: 33px;
    display: flex;
    border: 1px solid white;
    border-radius: 50%;
    transition-duration: 0.4s;
    background-color: #133f6d;
    top: -33px;
    /*left: 0;*/
    left: 42px;
    animation: move 0.3s linear;
    animation-fill-mode: forwards;
    animation-delay: 0.25s;
  }
  @keyframes move {
    0% {
      top: -33px;
      left: 42px;
    }
    100% {
      top: 6px;
      left: 0;
      transform: rotate(360deg);
    }
} 

.header__logo .socials .twitter {
  position: absolute;
  width: 33px;
  height: 33px;
  display: flex;
  border: 1px solid white;
  border-radius: 50%;
  transition-duration: 0.4s;
  background-color: #133f6d;
  top: -33px;
  /*left: 42px;*/
  left: 84px;
  animation: move1 0.3s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}
@keyframes move1 {
  0% {
    top: -33px;
    /*left: 42px;*/
    left: 84px;
  }
  100% {
    top: 6px;
    left: 42px;
    transform: rotate(360deg);
  }
} 
.header__logo .socials .instagram {
  position: absolute;
  width: 33px;
  height: 33px;
  display: flex;
  border: 1px solid white;
  border-radius: 50%;
  transition-duration: 0.4s;
  background-color: #133f6d;
  top: -33px;
  /*left: 84px;*/
  left: 126px;
  animation: move2 0.3s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.55s;
}
@keyframes move2 {
  0% {
    top: -33px;
    /*left: 84px;*/
    left: 126px;
  }
  100% {
    top: 6px;
    left: 84px;
    transform: rotate(360deg);
  }
} 
.header__logo .socials .telegram {
  position: absolute;
  width: 33px;
  height: 33px;
  display: flex;
  border: 1px solid white;
  border-radius: 50%;
  transition-duration: 0.4s;
  background-color: #133f6d;
  top: -33px;
  /*left: 126px;*/
  left: 168px;
  animation: move3 0.3s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.70s;
}
@keyframes move3 {
  0% {
    top: -33px;
    left: 168px;
    /*left: 126px;*/
  }
  100% {
    top: 6px;
    left: 126px;
    transform: rotate(360deg);
  }
} 
.header__logo .socials .youtube {
  position: absolute;
  width: 33px;
  height: 33px;
  display: flex;
  border: 1px solid white;
  border-radius: 50%;
  transition-duration: 0.4s;
  background-color: #133f6d;
  top: -33px;
  /* left: 168px; */
  left: 210px;
  animation: move4 0.3s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.85s;
}
@keyframes move4 {
  0% {
    top: -33px;
    /* left: 168px; */
    left: 210px;
  }
  100% {
    top: 6px;
    /* left: 168px; */
    left: 168px;
    transform: rotate(360deg);
  }
} 

  .header__logo .socials .facebook:hover, 
  .header__logo .socials .twitter:hover,
  .header__logo .socials .instagram:hover,
  .header__logo .socials .telegram:hover,
  .header__logo .socials .youtube:hover {
    scale: 1.15;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.205);
  }
  .header__logo .socials .facebook a,
  .header__logo .socials .twitter a, 
  .header__logo .socials .instagram a, 
  .header__logo .socials .telegram a, 
  .header__logo .socials .youtube a {
    transition: all 0.4s ease;
  }
  .header__logo .socials .facebook a:before,
  .header__logo .socials .twitter a:before, 
  .header__logo .socials .instagram a:before, 
  .header__logo .socials .telegram a:before, 
  .header__logo .socials .youtube a:before {
    transition: all 0.4s ease;
  }
  .header__logo .socials .facebook a:hover::before,
  .header__logo .socials .twitter a:hover::before, 
  .header__logo .socials .instagram a:hover::before, 
  .header__logo .socials .telegram a:hover::before, 
  .header__logo .socials .youtube a:hover::before {
    transform: rotate(360deg);
  }
  /*.header__logo .socials .facebook {
    width: 32px;
    height: 32px;
    display: flex;
    border: 1px solid white;
    border-radius: 50%;
    transition-duration: 0.4s;
    background-color: #133f6d;
  }*/

  /*.header__logo .socials .facebook:hover, 
  .header__logo .socials .twitter:hover, 
  .header__logo .socials .instagram:hover, 
  .header__logo .socials .telegram:hover, 
  .header__logo .socials .youtube:hover {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transform: rotate(360deg);
    scale: 1.2;
    /*box-shadow: 2px 3px 7px 0 rgba(10, 1, 69, 0.205);*/
    /*box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.205);
  }*/

  .header__logo .socials .facebook a::before {
    content: "\f39e";
    font-family: FontAwesome;
    font-size: 19px;
    padding: 6px;
    justify-content: center;
    display: flex;
    color: #fff;
    cursor: crosshair;
  }
  .header__logo .socials .twitter a::before {
    content: "\f099";
    font-family: FontAwesome;
    font-size: 19px;
    padding: 6px;
    justify-content: center;
    display: flex;
    color: #fff;
    cursor: crosshair;
  }
  .header__logo .socials .instagram a::before {
    content: "\f16d";
    font-family: FontAwesome;
    font-size: 19px;
    padding: 6px;
    justify-content: center;
    display: flex;
    color: #fff;
    cursor: crosshair;
  }
  .header__logo .socials .telegram a::before {
    display: flex;
    content: "\e917";
    font-family: 'icomoon', sans-serif;
    font-size: 23px;
    padding: 6px;
    justify-content: center;
    color: #fff;
    margin-left: -2px;
    margin-top: -1px;
    cursor: crosshair;
    content: "\f2c6";
    font-family: 'Line Awesome Brands';
  }
  .header__logo .socials .youtube a::before {
    content: "\f167";
    font-family: FontAwesome;
    font-size: 19px;
    margin-top: -1px;
    margin-left: -1.5px;
    padding: 6px;
    justify-content: center;
    display: flex;
    color: #fff;
    cursor: crosshair;
  }
  .header__logo .socials .twitter {
    width: 32px;
    height: 32px;
    display: flex;
    border: 1px solid white;
    border-radius: 50%;
    transition-duration: 0.4s;
    background-color: #133f6d;
  }
  .header__logo .socials .instagram {
    width: 32px;
    height: 32px;
    display: flex;
    border: 1px solid white;
    border-radius: 50%;
    transition-duration: 0.4s;
    background-color: #133f6d;
  }
  .header__logo .socials .telegram {
    width: 32px;
    height: 32px;
    display: flex;
    border: 1px solid white;
    border-radius: 50%;
    transition-duration: 0.4s;
    background-color: #133f6d;
  }
  .header__logo .socials .youtube {
    width: 32px;
    height: 32px;
    display: flex;
    padding-top: 1px;
    border: 1px solid white;
    border-radius: 50%;
    transition-duration: 0.4s;
    background-color: #133f6d;
  }
  .header__menu-body {
    /*width: 100%;*/ /*! Меню на всю ширину шапки*/
    display: flex;
    /*align-items: center;*/
  }
  .header-menu {
    width: 100%;
    margin: 0 auto;
    display: flex;
  }
  .header-menu ul {
    display: flex;
    transition: 1.7s ease;
    gap: 20px;
    margin-bottom: 6px;
    align-items: end;
  }
  .header-menu ul li {
    display: flex;
    position: relative;
  }
  .header-menu ul li a {
    /*padding: 15px;*/
    padding: 15px;
    color: white;
    /*text-shadow: 1px 1px 2px #888888;*/
    text-shadow: 1px 1px 2px #afafaf;
    transition: 1.7s ease;
    text-transform: uppercase;
  }
  .header-menu ul li:hover a {
    text-shadow: none;
  }
  .header-menu ul li:before {
    position: absolute;
    content: "";
    box-sizing: border-box;
    border-left: 2px solid transparent;
    border-top: 2px solid transparent;
    width: 0px;
    height: 0px;
    transition: .6s;
    display: block;
    top: -7px;
    left: -7px;
  }
  .header-menu ul li:hover::before {
    width: 12px;
    height: 12px;
    border-color: white;
    top: 0px;
    left: 0px;
    border-radius: 5px 0px 0px 0px;
  }
  .header-menu ul li::after {
    position: absolute;
    content: "";
    box-sizing: border-box;
    border-right: 2px solid transparent;
    border-top: 2px solid transparent;
    width: 0px;
    height: 0px;
    transition: .6s;
    display: block;
    top: -7px;
    right: -7px;
  }
  
  .header-menu ul li:hover::after {
    width: 15px;
    height: 15px;
    border-color: white;
    top: 0px;
    right: 0px;
    border-radius: 0 5px 0px 0px;
  }

  .header-menu ul li a.corners::before {
    position: absolute;
    content: "";
    box-sizing: border-box;
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
    width: 0px;
    height: 0px;
    transition: .6s;
    display: block;
    bottom: -7px;
    left: -7px;
  }
  
  .header-menu ul li:hover a.corners::before {
    width: 15px;
    height: 15px;
    border-color: white;
    bottom: 0px;
    left: 0px;
    border-radius: 0px 0px 0px 5px;
  }
  
  .header-menu ul li a.corners::after {
    position: absolute;
    content: "";
    box-sizing: border-box;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    width: 0px;
    height: 0px;
    transition: .6s;
    display: block;
    bottom: -7px;
    right: -7px;
  }
  
  .header-menu ul li:hover a.corners::after {
    width: 15px;
    height: 15px;
    border-color: white;
    bottom: 0px;
    right: 0px;
    border-radius: 0 0px 5px 0px;
  }

 .header-menu .header__profile a.corners i::before {
    content: "\f406";
    font-family: FontAwesome;
    font-size: 16px;
    font-style: normal;
 }
 .header-menu .header__profile a.corners {
    position: relative;
 }
 .header-menu a.header__massange {
    position: absolute;
    top: -7px;
    right: -3px;
}
 .header-menu a.header__massange::before {
    content: "\f075";
    font-family: FontAwesome;
    font-size: 12px;
 }
 .header__menu-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }

 .header__menu-body .header__additional-menu {
    display: flex;
    justify-content: space-between;
    font-size: 0.91em;
}
.header-block {
  font-size: 1em;
}
/*! Таймер старт*/
.timer {
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.timer {
}
.timer .timer__body .timer__items i {
  font-size: 1.1em;
  padding-right: 5px;
}
.item__addition {
  padding-right: 5px;
}
.timer__items {
  cursor: help;
}
.timer__item {
}
.timer__days {
}
.timer__hours {
}
.timer__minutes {
}
.timer__seconds {
}
/*! Таймер конец*/

.header__group {
  display: flex;
  gap: 10px;
}

.header__massages{
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header__massages span a{
  color: white;
}

.header__massages span a:hover{
  color: #ffd700;
}

.header__massages {
}
.header__hello {
  display: flex;
  align-items: center;
}
.header__username {
}
.header__massages span .header__link-massage {
  position: relative;
  margin-bottom: 2px;
}
.header__number-massage {
  position: absolute;
  top: -4px;
  right: -10px;
} 
.header__massages span .header__link-massage:hover .header__number-massage {
  top: -4.6px;
} 
.header__number-massage span {
  font-weight: 600;
}
.header__number-massage span::before {
  content: "\e908"; /* ! шрифт tahoma 144px жирный на картинке 240х240*/
  font-family: 'icomoon';
  color: red;
  background-color: white;
  border-radius: 50%;
  margin: 1.8px;
}

.header__link-massage:hover span::before {
  background-color: #ffd700;
}

.header__massages span .header__link-massage::after {
  content: "\e914";
  font-family: 'icomoon';
  font-size: 1.2em;
}

.header__massages span .header__link-massage:hover::after {
  content: "\f2b6";
  font-family: 'fontAwesome';
  font-size: 1.2em;
}

.header__massages .header__hello .header__username {
  padding: 0 7px 0 5px;
}

.header__active-massage{
}

/*! Переключитель*/
body.dark {
  background-color: #292c35;
}
.light-dark {
  display: flex;
  align-items: center;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color:#133f6d;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.2);
  cursor: pointer;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 3px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(26px);
}

.fa-moon {
  color: white;
}

.fa-sun {
  color: #ffd700;
}

/*! Переключитель*/
 .header__menu-body .header__additional-menu .languages {
    display: flex;
    transition: 1.7s ease;
    /*gap: 20px;*/
    align-items: center;
    margin: 15px;
}
.header__menu-body .header__additional-menu .languages a {
    color: white;
}
.header__menu-body .header__additional-menu .languages span {
    margin: 0 5px 0 5px;
}
.header__menu-body .header__additional-menu .languages a:hover {
    color: #ffd700;
}
 .header__menu-body .header__additional-menu ul li {

}
.header__menu-body .header__additional-menu ul li span {
    margin-left: 10px;
}
.header__menu-body .header__additional-menu ul li a {
    color: white;
}
.header__menu-body .header__additional-menu .languages a.active {
    color: #ffd700;
    pointer-events: none;
}
  .header-search {
  }

  article.timeline {
    /* background-color: #546e7a; */
    flex: 2 2 12em;
    /* padding: 1em; */
    border-radius: 3px;
  }

  nav,
  aside {
    flex: 1;
    /*background-color: #ffffff;*/
    border-radius: 3px;
    color: black;
  }

  nav {
    order: -1;
    border-radius: 3px;
  }

  header,
  footer {
    flex: 0 0 5em;
    background-color: rgb(192, 192, 192);
  }

  .timeline {
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: black;
    border-radius: 3px;
  }
  .timeline a {
    color: #002b71;
  }
  .timeline a:hover {
    color: #73b5e5;
  }
  .timeline__body a:hover, .timeline__body-important-news a:hover {
    border-bottom: 1px solid #73b5e5;
  }
  .timeline__body-important-news {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
  }
  .important-news__item {
  }
  .timeline__body-important-news .spoiler {
    display: flex;
    cursor: pointer;
    padding: 1.1em 1.2em 1.1em 1.2em;
    font-weight: 600;
    justify-content: center;
    transition-delay: 0.25s;
    /* background-color: #e7f3fa; */
    border-radius: 3px;
    font-size: 1.1em;
  }
  .timeline__body-important-news .spoiler:after {
    /* content: "\e907";
    font-family: 'icomoon';
    color: rgb(227, 0, 0);
    font-size: 1.1em; */
  }
  .important-news__news-spoiler.active .spoiler {
    box-shadow: 0px 7px 5px -3px rgba(50, 50, 50, 0.15);
    transition: box-shadow 0.3s;
  }
  .timeline__body-important-news .spoiler::before {
    content: "\e901";
    font-family: 'icomoon';
    color: rgba(47, 111, 200, 0.75);
    font-size: 1em;
    padding-right: 7px;
  }
  .important-news__news-spoiler .arrow {
    position: relative;
  }
  .important-news__news-spoiler .arrow::before {
    content: '';
    width: 13px;
    height: 2px;
    background-color: #5d90d5;
    position: absolute;
    top: 10px;
    transition: all .3s ease 0s;
    margin-left: 10px;
    transform: rotate(43deg);
  }
  .important-news__news-spoiler .arrow::after {
    content: '';
    transform: rotate(-43deg);
    top: 10px;
    left: 8.1px;
    width: 13px;
    height: 2px;
    background-color: #5d90d5;
    position: absolute;
    transition: all .3s ease 0s;
    margin-left: 10px;
  }
  .important-news__news-spoiler.active .arrow::before {
    transform: rotate(-43deg);
  }
  .important-news__news-spoiler.active .arrow::after {
    transform: rotate(43deg);
  }

  .important-news__list {
    display: none;
    padding: 1.5em 1.2em 1.5em 1.2em;
    background-image: url(img/bl-min2.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
  }
  .important-news__item {
  }
  .important-news__list {
  }
  .important-news__link {
  }
  .important-news__link::before {
    content: "\e902";
    font-family: 'icomoon';
    color: rgba(47, 111, 200, 0.75);
    font-size: 0.95em;
    padding-right: 5px;
  }
  .timeline__item {
    background-color: #fff;
    border-radius: 3px;
    padding: 1.5em 1.5em 1.5em 1.5em;
    box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
  }
  .timeline__head a:hover {
    border: none;
  }
  .timeline__head {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; */
  }
  .timeline__head a {
    font-size: 1.3em;
    color: black;
    font-weight: 700;
  }
  .timeline__head {
    border-bottom: 1px solid #c0d1db;
    padding-bottom: 0.75em;
  }
  .timeline__date {
    font-size: 0.95em;
    white-space: nowrap;
    margin: 4px 0 0 20px;
  }
  .timeline__body {
    padding: 0.75em 0 0.75em 0;
    text-align: left;
    display: inline-block;
    /* border-bottom: 1px solid #c0d1db; */
  }
  .timeline__body table {
    width: 100% !important;
    border-spacing: 0px !important;
    border-collapse: collapse !important;
  }
  .timeline__body table td:not(.table0_100 tr td) {
    border: 1px solid black;
    padding: 3px;
  }
  @media screen and (max-width: 380px) {
    .timeline__body table td:not(.table0_100 tr td) {
      padding: 2px;
    }
  }
  @media screen and (max-width: 365px) {
    .timeline__body table td:not(.table0_100 tr td) {
      padding: 1px;
    }
  }
  @media screen and (max-width: 350px) {
    .timeline__body table td:not(.table0_100 tr td) {
      padding: 0.3px;
    }
  }
  @media screen and (max-width: 340px) {
    .timeline__body table td:not(.table0_100 tr td) {
      padding: 0px;
    }
  }
  .timeline__body img {
    max-width: 100%;
  }
  .timeline__body a > img {
    border-radius: 3px;
  }
  .timeline__body .td_top10w {
    /* background-color: #e7f3fa;
    padding: 3px 0 3px 0; */
  }
  .timeline__body .td_top10w td {
    background-color: #e7f3fa;
    padding: 3px;
    border-radius: 3px;
  }
  .timeline__body .news_text tr td:not(.table0_100 tr td) {
    width: 50% !important;
    border: none !important;
    padding: 0 !important;
  }
  .news_text.table0_100 tr td a:hover {
    border: none;
  }
  .news_text.table0_100 tr td {
    width: 33.3333%;
  }
  .news_text.table0_100 tr td a img {
    object-fit: cover;
    height: 223px;
    width: auto;
    transition: 1s;
  }
  .news_text.table0_100 tr td a img:hover{
    transform: scale(1.07);
  }
  .news_text.table0_100 tr td a {
    display: block;
    overflow: hidden;
    height: 223px;
    width: auto;
    margin: 3px;
    border-radius: 3px;
  }
  .news_text.table0_100 tr td a:hover:last-of-type {
    background: rgb(69, 69, 69) none repeat scroll 0% 0%;
  }
  .news_text {
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
  }
  .timeline__body .img-right {
    float: right;
    margin: 0 0 10px 10px;
  }
  .timeline__footer {
    display: flex;
    padding-top: 0.75em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 0.95em;
  }
  /* .timeline__btn-more {
    outline: 1px solid black;
    border-radius: 3px;
    padding: 5px;
  }
  a.timeline__btn-more:hover {
    border: none;
  } */

/*! Кнопка */
  .btn-container {
    /* width: 100%;
    height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    --btn-bg: #b9e4ff;
  }
  .timeline__footer button {
    --width: 100px;
    --height: 33px;
    border: 0;
    position: relative;
    min-width: var(--width);
    min-height: var(--height);
    border-radius: var(--height);
    color: #002b71;
    /*font-family: arial;*/
    background: #d1ebfb;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
  }
  .timeline__footer button .text, .timeline__footer button .icon-container {
    position: relative;
    z-index: 2;
    padding-left: 15px;
    padding-bottom: 1.5px;
  }
  .timeline__footer button .icon-container {
    --icon-size: 20px;
    position: relative;
    width: 25px;
    height: 20px;
    margin-left: 13px;
    transition: transform 500ms ease;
  }
  .timeline__footer button .icon-container .icon {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--icon-size);
    height: var(--icon-size);
    transition: transform 500ms ease, opacity 250ms ease;
  }
  .timeline__footer button .icon-container .icon--left {
    transform: translateX(-200%);
    opacity: 0;
  }
  .timeline__footer button .icon-container .icon svg {
    width: 100%;
    height: 100%;
    fill: #002b7194;
  }
  .timeline__footer button::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--btn-bg);
    border-radius: var(--height);
    z-index: 1;
    transition: transform 500ms ease;
  }
  .timeline__footer button:hover::after {
    transform: translateX(76%);
  }
  .timeline__footer button:hover .icon-container .icon--left {
    transform: translateX(13%);
    opacity: 1;
  }
  .timeline__footer button:hover .icon-container .icon--right {
    transform: translateX(200%);
    opacity: 0;
  }
  .support {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    display: flex;
  }
  .support a {
    margin: 0 10px;
    /* color: red; */
    font-size: 1.8rem;
    backface-visibility: hidden;
    transition: all 150ms ease;
  }
  .support a:hover {
    transform: scale(1.1);
  }
  /*! Кнопка */
  
  .timeline-navigation__body {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .timeline-navigation__list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .timeline-navigation__list a {
    /* border-radius: 50%;
    height: 33px;
    width: 33px; */
  }
  .timeline-navigation__list a.active {
  }
  .timeline-navigation__list a:hover {
  }
  .timeline-navigation__page {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  /* .timeline-navigation__page a {
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 3px 10.2px;
    background-color: red;
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 50%;
    height: 33px;
    width: 33px;
  }
  .timeline-navigation__page a::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
    -webkit-transform: scale(.1);
    transform: scale(.1);
    border-radius: 50%;
  }
  .timeline-navigation__page a:hover::before {
    background: #b9e4ff;
    -webkit-transform: scale(1);
    transform: scale(1.1);
  } */



  /* .timeline-navigation__page a {
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 33px;
    height: 33px;
    padding: 3px 3px;
    border: 2px solid #000;
    background: transparent;
    cursor: pointer;
    transition: all 0.4s ease;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
  }
  .timeline-navigation__page a::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
    -webkit-transform: scale(.1);
    transform: scale(.1);
    border-radius: 50%;
  }
  .timeline-navigation__page a:hover::before {
    background: red;
    -webkit-transform: scale(1);
    transform: scale(1);
  } */

  .timeline-navigation a:hover {
    color: #002b71;
  }
  .timeline-navigation__page a, .timeline-navigation_arrow-left, .timeline-navigation_arrow-right {
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #d1ebfb;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    color: #002b71;
    text-decoration: none;
  }
  .timeline-navigation__page a::before, .timeline-navigation_arrow-left::before, .timeline-navigation_arrow-right::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
    -webkit-transform: scale(0);
    transform: scale(0);
    border-radius: 50%;
    /* background: radial-gradient(circle, transparent 0%, #b2e1ff 63%); */
    background: radial-gradient(circle, transparent 0%, #95d6ff 63%);
  }
  .timeline-navigation__page a:hover::before, .timeline-navigation_arrow-left:hover::before, .timeline-navigation_arrow-right:hover::before {
    -webkit-transform: scale(1);
    transform: scale(1);
    background: radial-gradient(circle, transparent 0%, #95d6ff 63%);
  }
  .timeline-navigation__page a.active:hover::before {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .timeline-navigation__list a.active {
    background: radial-gradient(circle, rgba(209,235,251,1) 0%, #95d6ff 63%);
  }



  /* .timeline-navigation_arrow-left, .timeline-navigation_arrow-right {
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 3px 10.2px;
    border: 2px solid #000;
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
  } */

  .timeline-navigation_arrow-left::after {
    content: "\f104";
    font-family: "FontAwesome";
    font-size: 1em;
    color: #002b7194;
  }
  .timeline-navigation_arrow-right::after {
    content: "\f105";
    font-family: "FontAwesome";
    font-size: 1em;
    color: #002b7194;
  }
  .timeline-navigation__list span {
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }



  .timeline__btn-more::after {

  }
  .timeline__comments {

  }
  .timeline__comments span + span {
    color: black;
  }
  a.timeline__comments:hover {
    border: none;
  }
  .timeline__comments-refer {

  }
  .timeline__comments-refer::before {
    content: "\e907";
    font-family: 'icomoon';
    padding-right: 5px;
    font-size: 0.90em;
    color: rgba(47, 111, 200, 0.75);
  }



  .left-sidebar, .right-sidebar {
    /*padding: 1em 0.6em 1em 0.6em;*/
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 0.95em;
  }
  .left-sidebar a, .right-sidebar a {
    color: #002b71;
  }
  .left-sidebar a:hover, .right-sidebar a:hover {
    color: #73b5e5;
    border-bottom: 1px solid #73b5e5;
  }

  .left-sidebar__body {

  }
  .main-cup {
    /*font-family: tahoma, Arial, Helvetica, sans-serif;*/
    /*font-size: 0.95em;*/
    padding: 1.5em 0.6em 0.75em 0.6em;
    background-color: #e7f3fa;
    border-radius: 3px;
    box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
  }
  /*.main-cup a {
    color: #002b71;
  }*/
  .main-cup a:hover {
    color: #73b5e5;
    border-bottom: 1px solid #73b5e5;
  }
  .main-cup__header {
    text-align: center;
    margin-bottom: 0.75em;
    font-family: tahoma, Arial, Helvetica, sans-serif;
    color: #1f73cc;
  }
  .main-cup__header span {
    /*text-transform: uppercase;
    font-weight: 800;*/
  }
  .term, 
  .lead,
  .term2,
  .lead2 {
    text-transform: uppercase;
    font-weight: 800;
  }

  .head__all {
    margin-bottom: 0.75em;
    font-family: tahoma, Arial, Helvetica, sans-serif;
    color: #1f73cc;
  }

  .main-cup__header .main-cup__term {
  }
  .main-cup__header .main-cup__lead {
    /*color: #265a92;*/
    /*color: #1e78d9;*/
    color: #1f73cc;
  }
  .main-cup__body, .main-cup__footer {
    /* ! font-size: 0.95em;*/
  }

  table.main-cup__top10,
  table.stars-table,
  table.popular__table {
    border-collapse: collapse;
    width: 100%;
  }

  .main-cup__top10 td,
  .main-cup__top10 th,
  .stars-table td,
  .popular__table td {
    padding: 2.4px;
  }
  .stars-table td,
  .popular__table td {
    padding-left: 0;
  }
  .main-cup__top10 th {
    font-family: Arial, tahoma, Helvetica, sans-serif;
  }
  table.main-cup__top10 tbody tr {
    /* line-height: 17.95px; */
  }
  table.main-cup__top10 thead tr th:nth-child(3) {
    text-align: left;
  }
  table.main-cup__top10 thead tr th:first-child {
    text-align: center;
  }
  table.main-cup__top10 tbody tr td:first-child, table.main-cup__top10 tbody tr td:last-child {
    text-align: center;
    font-family: Arial, tahoma, Helvetica, sans-serif;
  }
  table.main-cup__top10 tbody tr td:first-child {
    font-weight: 600;
    font-size: 0.9em;
    vertical-align: middle;
    padding-bottom: 5px;
  }
  table.main-cup__top10 tbody tr td:nth-child(2) img {
    /*vertical-align: middle;*/
    vertical-align: baseline;
  }
  table.main-cup__top10 tbody tr td:nth-child(3){
    /*vertical-align: baseline;*/
  }
  table.main-cup__top10 tbody tr:nth-child(2n+1) {
    background-color: #d1ebfb;
  }
  .main-cup__top10 .red-color, .timeline__item .red-color {
    color: red;
  }
  .main-cup__top10 .red-color:hover {
    border-bottom: 1px solid rgb(227, 0, 0);
    color: rgb(227, 0, 0);
  }
  .main-cup__footer {
  }
  .footer__all {
    padding-top: 0.75em;
    text-align: center;
  }
  .main-cup__refer {
  }

  .vertical-menu-block {
    font-family: Arial, tahoma, Helvetica, sans-serif;
  }
  .vertical-menu-block__body {
    text-align: left;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.5) inset, 0 -1px 0 rgba(0,0,0,.2) inset;
  }
  .vertical-menu-block__categories {
    padding: 1.6px 0.8px 0.8px 0.8px;
  }
  .vertical-menu-block__categories span:not(.news_date) {
    display: flex;
    align-items: center;
    padding: 0.3em 0.3em 0.3em 0.3em;
    justify-content: center;
    font-weight: 600;
    height: 29.1333;
    /* background: #d1ebfb; */
    background: #b9e4ff;
    /* background: -moz-linear-gradient(-45deg, rgba(208,228,247,1) 0%, rgba(169,216,242,1) 25%, rgba(209,235,251,1) 50%, rgba(171,220,244,1) 75%, rgba(209,235,251,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(208,228,247,1) 0%,rgba(169,216,242,1) 25%,rgba(209,235,251,1) 50%,rgba(171,220,244,1) 75%,rgba(209,235,251,1) 100%);
    background: linear-gradient(135deg, rgba(208,228,247,1) 0%,rgba(169,216,242,1) 25%,rgba(209,235,251,1) 50%,rgba(171,220,244,1) 75%,rgba(209,235,251,1) 100%); */
    
    /* background: -moz-linear-gradient(-45deg, rgba(209,235,251,1) 0%, rgba(179,218,239,1) 25%, rgba(209,235,251,1) 50%, rgba(179,218,239,1) 75%, rgba(209,235,251,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(209,235,251,1) 0%,rgba(179,218,239,1) 25%,rgba(209,235,251,1) 50%,rgba(179,218,239,1) 75%,rgba(209,235,251,1) 100%);
    background: linear-gradient(135deg, rgba(209,235,251,1) 0%,rgba(179,218,239,1) 25%,rgba(209,235,251,1) 50%,rgba(179,218,239,1) 75%,rgba(209,235,251,1) 100%); */
    
    /* background: -moz-linear-gradient(-45deg, rgba(209,235,251,1) 0%, rgba(171,220,244,1) 25%, rgba(209,235,251,1) 50%, rgba(171,220,244,1) 75%, rgba(209,235,251,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(209,235,251,1) 0%,rgba(171,220,244,1) 25%,rgba(209,235,251,1) 50%,rgba(171,220,244,1) 75%,rgba(209,235,251,1) 100%);
    background: linear-gradient(135deg, rgba(209,235,251,1) 0%,rgba(171,220,244,1) 25%,rgba(209,235,251,1) 50%,rgba(171,220,244,1) 75%,rgba(209,235,251,1) 100%); */
    border-bottom: 1px solid #c0d1db;
    border-radius: 3px 3px 0 0;
  }
  .vertical-menu-block__body .vertical-menu-block__list {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    font-family: Arial, tahoma, Helvetica, sans-serif;
  }
  .vertical-menu-block__body .vertical-menu-block__list li {
    background-color: white;
    border-bottom: 1px solid #c0d1db;
  }
  .vertical-menu-block__body .vertical-menu-block__list-four li:last-child {
    border-bottom: none;
    border-radius: 0 0 3px 3px;
  }
  .vertical-menu-block__body .vertical-menu-block__list-four li:last-child::before {
    height: 30px;
    border-radius: 0 0 3px 3px;
  }
  .vertical-menu-block__body .vertical-menu-block__list li a:hover {
    border: none;
  }
  .vertical-menu-block__link.red-color {
    color: red !important;
  }
  .vertical-menu-block__body .vertical-menu-block__list li {
    background: white;
    height: 2.25em;
    position: relative;
  }
  .vertical-menu-block__body .vertical-menu-block__list li:hover::before{
    width: 100%;
  }
  .vertical-menu-block__body .vertical-menu-block__list li:hover .vertical-menu-block__link{
    padding-left: 2em;
  }
  .vertical-menu-block__body .vertical-menu-block__list li::before{
    content: '';
    position: absolute;
    height: 29.1333px;
    width: 0;
    background: #d1ebfb;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
  }
  .vertical-menu-block__body .vertical-menu-block__list li a {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%; 
    color: black;
    padding: 0.3em 0.3em 0.3em 1em;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
  }
  .vertical-menu-block__link .news_date {
    padding-left: 10px;
    color: #6699cc;
  }

  /* .vertical-menu-block__list-one, .vertical-menu-block__list-two, .vertical-menu-block__list-three, .vertical-menu-block__list-four{
    display: none !important;
  }

  .vertical-menu-block__list-one.active, .vertical-menu-block__list-two.active, .vertical-menu-block__list-three.active, .vertical-menu-block__list-four.active {
    display: flex !important;
  } */

  .slider-block {
  }
  .slider-block__body a:hover {
    color: initial;
    border: none;
  }
  .swiper-slide {
  }
  .swiper-slide img {
    max-width: 100%;
  }
  .slider-block__header {
  }
  .slider-block {
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-container {
    position: relative !important;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
  }
  .swiper-button-next:hover, .swiper-button-prev:hover {
    color: #73b5e5 !important;
  }
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 0px !important;
  }
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 0px !important;
  }
  .swiper-button-next {
    padding-right: 15px !important;
  }
  .swiper-button-prev {
    padding-left: 15px !important;
  }
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #1f73cc !important;
  }
  .swiper-button-next, .swiper-button-prev {
    color: #1f73cc !important;
  }
  .swiper-button-next, .swiper-button-prev {
  }
  .swiper-lazy-preloader {
  }
  .slider-block__body {
  }
  .slider-block__footer {
  }

.slider-block {
}
.slider-block__head {
}
.slider-block__term {
}
.slider-block__lead {
}
.slider-block__body {
}
.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-lazy {
}
.swiper-lazy-preloader {
}
.swiper-button-prev {
}
.swiper-button-next {
}
.swiper-pagination {
}
.slider-block__footer {
}
.slider-block__refer {
}


.next-race-block {
}
.next-race-block__head {
  text-align: center;
}
.next-race-block__term {
}
.next-race-block__body {
}
.next-race-block__event {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.next-race-block__name {
  font-weight: 600;
}
.next-race-block__name img {
  padding-right: 5px;
  vertical-align: middle;
  padding-bottom: 2px;
}
.next-race-block__time {
}
.next-race-block__time span{
  font-weight: 600;
}
.next-race-block__time span:first-child::before, .next-translate-block__time span:first-child::before, .blogs-block__item span::before, .interview-block__gossip_date span:first-child::before, .comment-block__data span:first-child::before, .timeline__date span:first-child::before {
  /* content: "\f073";
  font-family: 'fontAwesome'; */
  /* content: "\e900"; */
  content: "\e900";
  font-family: 'icomoon';
  font-size: 0.95em;
  font-weight: normal;
  padding-right: 5px;
  color: rgba(47, 111, 200, 0.75);
}
.next-race-block__time span + span::before, .next-translate-block__time span + span::before, .interview-block__gossip_date span + span::before, .comment-block__data span + span::before, .timeline__date span + span::before {
  /* content: "\f017";
  font-family: 'fontAwesome'; */
  /* content: "\e902"; */
  content: "\e905";
  font-family: 'icomoon';
  font-size: 0.98em;
  font-weight: normal;
  padding-right: 5px;
  color: rgba(47, 111, 200, 0.75);
  vertical-align: bottom;
}
.next-race-block__time span:first-child, .next-translate-block__time span:first-child, .interview-block__gossip_date span:first-child, .comment-block__user-avatar span:first-child, .timeline__date span:first-child {
  margin-right: 1em;
}
.next-race-block__type {
}


.next-translate-block {

}
.next-translate-block__head {
  text-align: center;
}
.next-translate-block__term {
}
.next-translate-block__body {
}
.next-translate-block__event {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.next-translate-block__name {
  font-weight: 600;
}
.next-translate-block__name img {
  padding-right: 5px;
  vertical-align: middle;
  padding-bottom: 2px;
}
.next-race-block__flag {
}
.next-translate-block__time {
}
.next-translate-block__time span {
  font-weight: 600;
}
.next-translate-block__type {
}


.blogs-block {
}
.blogs-block__head {
  text-align: center;
}
.blogs-block__body {
}
.blogs-block__item span {
  display: flex;
}
.blogs-block__item span::before {
  /* content: "\e901";
  font-family: 'icomoon';
  font-weight: normal;
  margin-right: 5px; */
}
.blogs-block__item {
  padding-bottom: 0.7em;
  padding-top: 0.7em;
  border-bottom: 1px solid #c0d1db;
}
.blogs-block__item:nth-child(1) {
  padding-top: 0em;
}
.blogs-block__item:last-of-type {
  padding-bottom: 0em;
  border-bottom: none;
}
.blogs-block__time {
  font-weight: 600;
}
.blogs-block__name {
}



  .right-sidebar {

  }
  
.comment-block {
}
.comment-block__head {
  margin-bottom: 0em;
  font-family: tahoma, Arial, Helvetica, sans-serif;
  color: #1f73cc;
}
.term2{
}
.lead2 {
  color: #1e78d9;
}

.comment-block__body {
}

.sidebar-block {
  padding: 1.5em 1em 0.75em 1em;
  text-align: center;
  background-color: #e7f3fa;
  /* background-color: #edf8ff; */ /* ! Возможный цвет*/
  border-radius: 3px;
  box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
}

.sidebar-block2 {
  padding: 1.5em;
  text-align: center;
  background-color: #e7f3fa;
  border-radius: 3px;
  box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
}
.sidebar-block3 {
  padding: 1.5em 1em 0.75em 1em;
  background-color: #e7f3fa;
  border-radius: 3px;
  box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
}

.comment-block__gossip {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.6em 0 0.6em;
  line-height: 3em; 
  flex-direction: column; */
}
/* .comment-block__gossip span:first-child {
  padding: 0 1.1em 0 0;
} */
.comment-block__user-avatar {
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  text-align: left;
}
.comment-block__user-avatar::before {
  content: "\e904";
  font-family: 'icomoon';
  font-size: 3em;
  padding-right: 0.2em;
  color: rgba(47, 111, 200, 0.75);
}

/* .comment-block__name-user, .interview-block__gossip_name {
  font-weight: 600;
} */
.comment-block__name-user {
  font-weight: 600;
}
a.user:hover {
  /* border: none; */
}
.comment-block__name-user::before {
  /* content: "\f2bd";
  font-family: 'Line Awesome Free';
  font-size: 2.5em;
  padding-right: 0.15em; */
}
.comment-block__name-user:hover:before {
  /* color: #002b71; */
}
.comment-block__data {
  display: flex;
}
.comment-block__data span {
  display: flex;
}
.comment-block .comment-block__rumor {
  display: flex;
  text-align: left;
  max-height: 8.4em;
  min-height: 5.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  /* background-color: rgb(246, 253, 255); */
  background-color: #fff;
  /*box-shadow: inset 0px 0px 5px rgb(131, 131, 131);*/
  /*box-shadow: inset 0px 0px 5px #8a9da9;*/
  box-shadow: 0 1px 2px rgba(0,0,0,.5) inset, 0 -1px 0 rgba(0,0,0,.2) inset;
  padding: 0.6em;
  border-radius: 3px;
  color: black;
}
.comment-block a.comment-block__rumor:hover {
  border-bottom: none;
  text-decoration: underline;
}
.comment-block__footer {
  padding-top: 0.8em;
}

.stars-block {
}
.stars-block__head {
}
.stars-block__term {
}
.stars-block__body {
}
table.stars-table tbody tr td:nth-child(1) img,
table.popular__table tbody tr td:nth-child(1) img {
  vertical-align: middle;
  padding-bottom: 2px;
}
table.stars-table tbody tr td:nth-child(2),
table.popular__table tbody tr td:nth-child(2) {
  vertical-align: baseline;
}
table.stars-table tbody tr td:nth-child(2),
table.popular__table tbody tr td:nth-child(2) {
  text-align: left;
}
table.stars-table tbody tr td:nth-child(3)::before {
  content: "\f005";
  font-family: FontAwesome;
  color: rgba(47, 111, 200, 0.75);
  padding-right: 5px;
  font-size: 0.9em;
}
table.stars-table tbody tr td:nth-child(1),
table.popular__table tbody tr td:nth-child(1) {
  width: 25.2833px;
  text-align: left;
  padding-left: 0;
}
table.stars-table tbody tr,
table.popular__table tbody tr {
  line-height: 20.55px;
}

.stars-table {
}
.stars-block__footer {
}

.vote-block {
}
.vote-block__head {
}
.vote-block__term {
}
.vote-block.sidebar-block .vote-block__body {
  text-align: left;
}
.vote-block__question {
  margin-bottom: 1em;
  /*text-align: left;*/
}
.vote-block__voited {
  margin-bottom: 2em;
}
.vote-block__voited:nth-last-child(2) {
  margin-bottom: 2.5em;
}
.vote-block__option {
  margin-bottom: 0.1em;
}
.vote-block__bar {
  position: relative;
  background-color: rgba(73, 167, 194, 0.12);
  height: 1.2em;
  border-radius: 3px;
}
.vote-block__votes {
  font-size: 0.9em;
  font-family: Arial;
  position: absolute;
  right: 10px;
  top: -1px;
  margin-left: 0.70em;
  margin-top: 1.6em;
}
.vote-block__percent {
  height: inherit;
  background-color: rgb(47, 111, 200);
  border-radius: 3px;
}
.vote-block__total-votes {
  text-align: right;
  padding-right: 10px;
}

/*! Твиттер старт*/
.twitter-block {
  text-align: center;
  border-radius: 3px;
  box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
  padding: 0 1em 0.75em 1em;
  background-color: #e7f3fa;
}
.twitter-block__head {
  padding: 1.5em 0 0.75em 0;
  font-family: tahoma, Arial, Helvetica, sans-serif;
  color: #1f73cc;
  background-color: rgb(231, 243, 250);
  border-radius: 3px 3px 0px 0px;
}
.twitter-block__term {
}
.twitter-block__body {
  margin: 1.5em 1em 1.5em 1em;
  box-shadow: 0 1px 2px rgb(0 0 0 / 50%) inset, 0 -1px 0 rgb(0 0 0 / 20%) inset !important;
  border-radius: 3px;
  margin: 0 0px 0 0px;
}
/* .twitter-block__footer {
  padding-top: 1.5em;
  background-color: rgb(231, 243, 250);
  border-radius: 0px 0px 3px 3px;
} */

/*! Лента Твиттера*/
/* .timeline-Header {
  background-color: #e7f3fa !important;
}
.SandboxRoot.env-bp-min .timeline-Tweet-text {
  color: black;
} */
#twitter-widget-0 {
  max-height: 500px !important;
  height: 500px !important;
  /* margin-bottom: -7.2px !important; */
  margin-bottom: -6.18px !important;
  margin-left: 2.2px !important;
  margin-top: 1.7px !important;
  /* width: 99% !important; */
  width: 98.78% !important;
  background-color: #fff !important;
}
/* .TweetAuthor a {
  color: #002b71 !important;
}
.TweetAuthor a:hover {
  color: #73b5e5 !important;
}
.timeline-Tweet-text a {
  color: #002b71 !important;
}
.timeline-Tweet-text a:hover {
  color: #73b5e5 !important;
  border-bottom: 1px solid #73b5e5 !important;
} */
/* .timeline-Tweet {
  border-bottom: 1px solid #c0d1db !important;
}
.Icon.Icon--share.TweetAction-icon:hover {
  color: #73b5e5 !important;
}
.timeline-Tweet-text {
  margin-bottom: 0px !important;
}
.timeline-ShowMoreButton {
  padding: 0px 0 !important;
  margin: 10px 0 10px 0 !important;
  border-radius: 3px !important;
} */
/*! Твиттер конец*/



.vote-block__footer {
}
.popular-block {
}
.popular-block__head {
}
.popular-block__body {
}
.popular-block__search-form form {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 0.5em;
}
.popular-block__search-form input, .popular-block__search-form button {
  border: none;
  outline: none;
  border-radius: 3px;
}
.popular-block__search-form input {
  width: 100%;
  height: 33px;
  background: #fff;
  padding: 0 35px 0 15px;
  /*box-shadow: inset 0px 0px 5px #8a9da9;*/
  box-shadow: 0 1px 2px rgba(0,0,0,.5) inset, 0 -1px 0 rgba(0,0,0,.2) inset;
}
.popular-block__search-form input:focus::-moz-placeholder { 
  color: transparent;
}
.popular-block__search-form input:focus::-webkit-input-placeholder {
  color: transparent;
}
.popular-block__search-form input:focus:-ms-input-placeholder {
  color: transparent;
}
.popular-block__search-form button {
  height: 31px;
  width: 31px;
  position: absolute;
  top: 1px;
  right: 1.22px;
  cursor: pointer;
  background: none;
}
.popular-block__search-form button::before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: rgba(0,0,0,.3);
}
.popular-block__search-form button:hover::before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: rgba(0,0,0,.5);
}

.popular-block__footer {
}

.interview-block {
}
.interview-block__head {
}
.interview-block__body {
}
.interview-block__items {
  border-bottom: 1px solid #c0d1db;
  text-align: left;
  margin-top: 0.7em;
  padding-bottom: 0.7em;
}
.interview-block__items:first-of-type {
  /* padding-top: 0; */
}
.interview-block__items:last-child {
  border-bottom: none;
  padding: 0.7em 0 0 0;
}
.interview-block__said {
  display: flex;
  margin-bottom: 0.5em;
}
.interview-block__gossip_image {
  background-color: rgba(103,155,205,1.00);
  width: 3.50em;
  height: 3.50em;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin-right: 0.50em;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.interview-block > .interview-block__body > .interview-block__items:nth-child(1) > .interview-block__said > .interview-block__gossip_image {
  background-image: url(//www.biathlon.com.ua/uploads/2021/132527.jpg);
}
.interview-block > .interview-block__body > .interview-block__items:nth-child(2) > .interview-block__said > .interview-block__gossip_image {
  background-image: url(//www.biathlon.com.ua/uploads/2019/87630.jpg);
}
.interview-block > .interview-block__body > .interview-block__items:nth-child(3) > .interview-block__said > .interview-block__gossip_image {
  background-image: url(//www.biathlon.com.ua/uploads/1/12218.jpg);
}
.interview-block > .interview-block__body > .interview-block__items:nth-child(4) > .interview-block__said > .interview-block__gossip_image {
  background-image: url(//www.biathlon.com.ua/uploads/2/20537.jpg);
}
.interview-block > .interview-block__body > .interview-block__items:nth-child(5) > .interview-block__said > .interview-block__gossip_image {
  background-image: url(//www.biathlon.com.ua/uploads/2018/80773.jpg);

}
.interview-block__gossip_exile {
  margin-top: 0.25em;
}
.interview-block__gossip_name {
}
.interview-block__gossip_date {
  display: flex;
  align-items: center;
}
.interview-block__gossip_date span {
  display: flex;
}
/* .interview-block__gossip_date span:first-child {
  padding-right: 1.1em;
} */
.interview-block__rumor {
}
.interview-block__footer {
}

footer.footer {
  border-radius: 3px 3px 0 0;
  background-color: #265a92;
  border-top: 4px solid gold;
}
.footer__body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 35px;
  justify-content: space-between;
  /* width: 1300px; */
}
.footer__menu1 {
}
.footer__menu2 {
}
.footer__menu3 {
}
.footer__about-site {
  display: flex;
  /* width: 1230px; */
  margin: 0 auto;
}
.footer__about-site img {
  max-width: 700px;
  width: 100%;
}
.footer__logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}
.socials__body {
  display: flex;
  justify-content: center;
  /* width: 100%; */
}

.socials2 span{
	opacity: 1;
	transition-delay: 0.3s;
	display: flex;
	justify-content: center;
	height: 60px;
	align-items: center;
  font-weight: 600;
  color: white;
  }
  .socials2:hover span {
	opacity: 0;
	transition-delay: 0s;
	animation-name: title;
	animation-duration: 0.1s;
	animation-fill-mode: forwards;
	cursor: default;
  }
  .socials2 {
	position: relative;
	line-height: 35px;
	padding: 0;
	z-index: 0;
	-moz-perspective: 300px;
	-webkit-perspective: 300px;
	perspective: 300px;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	width: 265px;
	height: 60px;
	border: 2px solid rgba(92, 145, 202);
	cursor: crosshair;
	display: inline-block;
	box-shadow: 0 1px 2px rgba(0,0,0,.5) inset, 0 -1px 0 rgba(0,0,0,.2) inset;
	-moz-transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	text-transform: uppercase;
  overflow: visible;
  /* background-color: white; */
  margin-top: 6px;
  background-color: #e7f3fa;
  }
  .socials2::after {
  position: absolute; 
  content: "";
  top: -0.4px;
  left: -0.1px;
  width: 263px;
  height: 58px;
  box-shadow: inset 0 0 0 3000px rgba(92, 145, 202, 0.85);
  /* box-shadow: inset 0 0 0 3000px rgb(37, 67, 100);
  opacity: 0.8; */
  z-index: -1;
  -moz-transform-origin: center bottom;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -moz-transform: rotateX(0);
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: crosshair;
  }
  .socials2:hover::after {
	-moz-transform: rotateX(-180deg);
	-webkit-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
  }
  	.circle {
		position: absolute;
		content: "";
		top: 12px;
		height: 35px;
		width: 35px;
		background-color: #133f6d;
		z-index: -1;
		border-radius: 50%;
		transition-duration: 0.5s;
  }
  .circle__facebook {
	left: 15px;
  }
  .circle__facebook::before {
	content: "\f39e";
	font-family: 'FontAwesome';
  font-size: 21px;
  }
  .circle__twitter {
	left: 65px;
  }
  .circle__twitter::before {
	content: "\f099";
	font-family: 'FontAwesome';
  font-size: 21px;
  }
  .circle__instagram {
	left: 115px;
  }
  .circle__instagram::before {
	content: "\f16d";
	font-family: 'FontAwesome';
  font-size: 21px;
  }
  .circle__telegram {
	left: 165px;
  }
  .circle__telegram::before {
  content: "\f2c6";
  font-family: 'Line Awesome Brands';
  font-size: 25px;
  }
  .circle__youtube {
	left: 215px;
  }
  .circle__youtube::before {
	content: "\f167";
	font-family: 'FontAwesome';
  font-size: 21px;
  }
  .circle__youtube::before, .circle__telegram::before, .circle__twitter::before, .circle__facebook::before, .circle__instagram::before {
	justify-content: center;
	display: flex;
	color: #fff;
	-moz-transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
  }
	.circle a {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 35px;
	height: 35px;
	cursor: crosshair;
	border-radius: 50%;
}
.circle__facebook:hover::before, .circle__twitter:hover::before, .circle__instagram:hover::before, .circle__telegram:hover::before, .circle__youtube:hover::before {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

  .circle:hover {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.25);
  }

	@keyframes title {
	  from {
	-moz-transform: translatey(0px);
	-webkit-transform: translatey(0px);
	transform: translatey(0px);
	}
	  to {
	-moz-transform: translatey(60px);
	-webkit-transform: translatey(60px);
	transform: translatey(60px);
	}
  }








article.timeline {
  max-width: 100%;
}
nav, aside {
  max-width: 100%;
}
  @media screen and (min-width: 992px) {
    body {
      min-height: 100vh;
      padding: 0;
    }
    main {
      flex-direction: row;
      min-height: 100%;
      flex: 1 1 auto;
    }
    article.timeline {
      max-width: 56.84%;
    }
    nav, aside {
      max-width: 21.58%;
    }
  }