@import url('nullstyle.css');

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.woff');
}

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: Arial, tahoma, Helvetica, sans-serif;
  max-width: 1300px;
}

body {
    color: #fff;
    font-size: 1em;
    padding: 0;
    display: flex;
    flex-direction: column;
    /*background: #eef3f7;*/
    background: #f9fbff;
    gap: 5px;
    line-height: 1.5;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .header {
    /*padding: 15px;*/
    display: flex;
    /*margin-top: 44px;*/
    flex-basis: 60px;
    background-color: #265a92;
    border-bottom: 4px solid gold;
    border-radius: 0 0 3px 3px;
    line-height: 1;
    font-size: 1.1em;
  }
  .header__body {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .header__logo {
    position: relative;
    margin: 0 35px;
  }
  .header__logo a img {
    display: block;
    width: 100%;
  }
  .header__logo a {
    display: block;
    width: 340.083px;
  }
  .header__logo .socials {
    position: absolute;
    top: 0;
    right: 0;
    cursor: crosshair;
  }
  /*.header__logo .socials__body {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 44px;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
  }*/
  .header__logo .socials__body {
    display: flex;
    /* justify-content: end;
    align-items: center; */
    height: 44px;
    /* gap: 10px; */
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
    position: relative;
  }
  /*.header__logo .socials .facebook {
    width: 32px;
    height: 32px;
    display: flex;
    border: 1px solid white;
    border-radius: 50%;
    transition-duration: 0.4s;
    background-color: #133f6d;
  }*/
  .header__logo .socials .facebook {
    position: absolute;
    width: 33px;
    height: 33px;
    display: flex;
    border: 1px solid white;
    border-radius: 50%;
    transition-duration: 0.4s;
    background-color: #133f6d;
    top: -33px;
    /*left: 0;*/
    left: 42px;
    animation: move 0.3s linear;
    animation-fill-mode: forwards;
    animation-delay: 0.25s;
  }
  @keyframes move {
    0% {
      top: -33px;
      left: 42px;
    }
    100% {
      top: 6px;
      left: 0;
      transform: rotate(360deg);
    }
} 

.header__logo .socials .twitter {
  position: absolute;
  width: 33px;
  height: 33px;
  display: flex;
  border: 1px solid white;
  border-radius: 50%;
  transition-duration: 0.4s;
  background-color: #133f6d;
  top: -33px;
  /*left: 42px;*/
  left: 84px;
  animation: move1 0.3s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}
@keyframes move1 {
  0% {
    top: -33px;
    /*left: 42px;*/
    left: 84px;
  }
  100% {
    top: 6px;
    left: 42px;
    transform: rotate(360deg);
  }
} 
.header__logo .socials .instagram {
  position: absolute;
  width: 33px;
  height: 33px;
  display: flex;
  border: 1px solid white;
  border-radius: 50%;
  transition-duration: 0.4s;
  background-color: #133f6d;
  top: -33px;
  /*left: 84px;*/
  left: 126px;
  animation: move2 0.3s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.55s;
}
@keyframes move2 {
  0% {
    top: -33px;
    /*left: 84px;*/
    left: 126px;
  }
  100% {
    top: 6px;
    left: 84px;
    transform: rotate(360deg);
  }
} 
.header__logo .socials .telegram {
  position: absolute;
  width: 33px;
  height: 33px;
  display: flex;
  border: 1px solid white;
  border-radius: 50%;
  transition-duration: 0.4s;
  background-color: #133f6d;
  top: -33px;
  /*left: 126px;*/
  left: 168px;
  animation: move3 0.3s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.70s;
}
@keyframes move3 {
  0% {
    top: -33px;
    left: 168px;
    /*left: 126px;*/
  }
  100% {
    top: 6px;
    left: 126px;
    transform: rotate(360deg);
  }
} 
.header__logo .socials .youtube {
  position: absolute;
  width: 33px;
  height: 33px;
  display: flex;
  border: 1px solid white;
  border-radius: 50%;
  transition-duration: 0.4s;
  background-color: #133f6d;
  top: -33px;
  /* left: 168px; */
  left: 210px;
  animation: move4 0.3s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.85s;
}
@keyframes move4 {
  0% {
    top: -33px;
    /* left: 168px; */
    left: 210px;
  }
  100% {
    top: 6px;
    /* left: 168px; */
    left: 168px;
    transform: rotate(360deg);
  }
} 

  .header__logo .socials .facebook:hover, 
  .header__logo .socials .twitter:hover,
  .header__logo .socials .instagram:hover,
  .header__logo .socials .telegram:hover,
  .header__logo .socials .youtube:hover {
    scale: 1.15;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.205);
  }
  .header__logo .socials .facebook a,
  .header__logo .socials .twitter a, 
  .header__logo .socials .instagram a, 
  .header__logo .socials .telegram a, 
  .header__logo .socials .youtube a {
    transition: all 0.4s ease;
  }
  .header__logo .socials .facebook a:before,
  .header__logo .socials .twitter a:before, 
  .header__logo .socials .instagram a:before, 
  .header__logo .socials .telegram a:before, 
  .header__logo .socials .youtube a:before {
    transition: all 0.4s ease;
  }
  .header__logo .socials .facebook a:hover::before,
  .header__logo .socials .twitter a:hover::before, 
  .header__logo .socials .instagram a:hover::before, 
  .header__logo .socials .telegram a:hover::before, 
  .header__logo .socials .youtube a:hover::before {
    transform: rotate(360deg);
  }
  /*.header__logo .socials .facebook {
    width: 32px;
    height: 32px;
    display: flex;
    border: 1px solid white;
    border-radius: 50%;
    transition-duration: 0.4s;
    background-color: #133f6d;
  }*/

  /*.header__logo .socials .facebook:hover, 
  .header__logo .socials .twitter:hover, 
  .header__logo .socials .instagram:hover, 
  .header__logo .socials .telegram:hover, 
  .header__logo .socials .youtube:hover {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transform: rotate(360deg);
    scale: 1.2;
    /*box-shadow: 2px 3px 7px 0 rgba(10, 1, 69, 0.205);*/
    /*box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.205);
  }*/

  .header__logo .socials .facebook a::before {
    content: "\f39e";
    font-family: FontAwesome;
    font-size: 19px;
    padding: 6px;
    justify-content: center;
    display: flex;
    color: #fff;
    cursor: crosshair;
  }
  .header__logo .socials .twitter a::before {
    content: "\f099";
    font-family: FontAwesome;
    font-size: 19px;
    padding: 6px;
    justify-content: center;
    display: flex;
    color: #fff;
    cursor: crosshair;
  }
  .header__logo .socials .instagram a::before {
    content: "\f16d";
    font-family: FontAwesome;
    font-size: 19px;
    padding: 6px;
    justify-content: center;
    display: flex;
    color: #fff;
    cursor: crosshair;
  }
  .header__logo .socials .telegram a::before {
    display: flex;
    content: "\e917";
    font-family: 'icomoon', sans-serif;
    font-size: 22px;
    padding: 6px;
    justify-content: center;
    color: #fff;
    margin-left: -2px;
    margin-top: -1px;
    cursor: crosshair;
    content: "\f2c6";
    font-family: 'Line Awesome Brands';
  }
  .header__logo .socials .youtube a::before {
    content: "\f167";
    font-family: FontAwesome;
    font-size: 19px;
    margin-top: -1px;
    margin-left: -1.5px;
    padding: 6px;
    justify-content: center;
    display: flex;
    color: #fff;
    cursor: crosshair;
  }
  .header__logo .socials .twitter {
    width: 32px;
    height: 32px;
    display: flex;
    border: 1px solid white;
    border-radius: 50%;
    transition-duration: 0.4s;
    background-color: #133f6d;
  }
  .header__logo .socials .instagram {
    width: 32px;
    height: 32px;
    display: flex;
    border: 1px solid white;
    border-radius: 50%;
    transition-duration: 0.4s;
    background-color: #133f6d;
  }
  .header__logo .socials .telegram {
    width: 32px;
    height: 32px;
    display: flex;
    border: 1px solid white;
    border-radius: 50%;
    transition-duration: 0.4s;
    background-color: #133f6d;
  }
  .header__logo .socials .youtube {
    width: 32px;
    height: 32px;
    display: flex;
    padding-top: 1px;
    border: 1px solid white;
    border-radius: 50%;
    transition-duration: 0.4s;
    background-color: #133f6d;
  }
  .header__menu-body {
    /*width: 100%;*/ /*! Меню на всю ширину шапки*/
    display: flex;
    /*align-items: center;*/
    margin-right: 35px;
  }
  .header-menu {
    width: 100%;
    margin: 0 auto;
    display: flex;
  }
  .header-menu ul {
    display: flex;
    transition: 1.7s ease;
    gap: 20px;
    margin-bottom: 6px;
    align-items: end;
  }
  .header-menu ul li {
    display: flex;
    position: relative;
  }
  .header-menu ul li a {
    /*padding: 15px;*/
    padding: 15px;
    color: white;
    /*text-shadow: 1px 1px 2px #888888;*/
    text-shadow: 1px 1px 2px #afafaf;
    transition: 1.7s ease;
    text-transform: uppercase;
  }
  .header-menu ul li:hover a {
    text-shadow: none;
  }
  .header-menu ul li:before {
    position: absolute;
    content: "";
    box-sizing: border-box;
    border-left: 2px solid transparent;
    border-top: 2px solid transparent;
    width: 0px;
    height: 0px;
    transition: .6s;
    display: block;
    top: -7px;
    left: -7px;
  }
  .header-menu ul li:hover::before {
    width: 12px;
    height: 12px;
    border-color: white;
    top: 0px;
    left: 0px;
    border-radius: 5px 0px 0px 0px;
  }
  .header-menu ul li::after {
    position: absolute;
    content: "";
    box-sizing: border-box;
    border-right: 2px solid transparent;
    border-top: 2px solid transparent;
    width: 0px;
    height: 0px;
    transition: .6s;
    display: block;
    top: -7px;
    right: -7px;
  }
  
  .header-menu ul li:hover::after {
    width: 15px;
    height: 15px;
    border-color: white;
    top: 0px;
    right: 0px;
    border-radius: 0 5px 0px 0px;
  }

  .header-menu ul li a.corners::before {
    position: absolute;
    content: "";
    box-sizing: border-box;
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
    width: 0px;
    height: 0px;
    transition: .6s;
    display: block;
    bottom: -7px;
    left: -7px;
  }
  
  .header-menu ul li:hover a.corners::before {
    width: 15px;
    height: 15px;
    border-color: white;
    bottom: 0px;
    left: 0px;
    border-radius: 0px 0px 0px 5px;
  }
  
  .header-menu ul li a.corners::after {
    position: absolute;
    content: "";
    box-sizing: border-box;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    width: 0px;
    height: 0px;
    transition: .6s;
    display: block;
    bottom: -7px;
    right: -7px;
  }
  
  .header-menu ul li:hover a.corners::after {
    width: 15px;
    height: 15px;
    border-color: white;
    bottom: 0px;
    right: 0px;
    border-radius: 0 0px 5px 0px;
  }

 .header-menu .header__profile a.corners i::before {
    content: "\f406";
    font-family: FontAwesome;
    font-size: 16px;
    font-style: normal;
 }
 .header-menu .header__profile a.corners {
    position: relative;
 }
 .header-menu a.header__massange {
    position: absolute;
    top: -7px;
    right: -3px;
}
 .header-menu a.header__massange::before {
    content: "\f075";
    font-family: FontAwesome;
    font-size: 12px;
 }
 .header__menu-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }

 .header__menu-body .header__additional-menu {
    display: flex;
    justify-content: space-between;
    font-size: 0.91em;
}
/*! Таймер старт*/
.timer {
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.timer {
}
.timer .timer__body .timer__items i {
  font-size: 1.1em;
  padding-right: 5px;
}
.item__addition {
  padding-right: 5px;
}
.timer__items {
  cursor: help;
}
.timer__item {
}
.timer__days {
}
.timer__hours {
}
.timer__minutes {
}
.timer__seconds {
}
/*! Таймер конец*/

.header__group {
  display: flex;
  gap: 10px;
}

.header__massages{
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header__massages span a{
  color: white;
}

.header__massages span a:hover{
  color: #ffd700;
}

.header__massages {
}
.header__hello {
  display: flex;
  align-items: center;
}
.header__username {
}
.header__massages span .header__link-massage {
  position: relative;
  margin-bottom: 2px;
}
.header__number-massage {
  position: absolute;
  top: -4px;
  right: -10px;
} 
.header__massages span .header__link-massage:hover .header__number-massage {
  top: -4.6px;
} 
.header__number-massage span {
  font-weight: 600;
}
.header__number-massage span::before {
  content: "\e920";
  font-family: 'icomoon';
  color: red;
  background-color: white;
  border-radius: 50%;
  margin: 1.8px;
}

.header__link-massage:hover span::before {
  background-color: #ffd700;
}

.header__massages span .header__link-massage::after {
  content: "\e91b";
  font-family: 'icomoon';
  font-size: 1.2em;
}

.header__massages span .header__link-massage:hover::after {
  content: "\f2b6";
  font-family: 'fontAwesome';
  font-size: 1.2em;
}

.header__massages .header__hello .header__username {
  padding: 0 7px 0 5px;
}

.header__active__massage{
}

/*! Переключитель*/
body.dark {
  background-color: #292c35;
}
.light-dark {
  display: flex;
  align-items: center;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color:#133f6d;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.2);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 3px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(25px);
}

.fa-moon {
  color: white;
}

.fa-sun {
  color: #ffd700;
}

/*! Переключитель*/
 .header__menu-body .header__additional-menu .languages {
    display: flex;
    transition: 1.7s ease;
    /*gap: 20px;*/
    align-items: center;
    margin: 15px;
}
.header__menu-body .header__additional-menu .languages a {
    color: white;
}
.header__menu-body .header__additional-menu .languages span {
    margin: 0 5px 0 5px;
}
.header__menu-body .header__additional-menu .languages a:hover {
    color: #ffd700;
}
 .header__menu-body .header__additional-menu ul li {

}
.header__menu-body .header__additional-menu ul li span {
    margin-left: 10px;
}
.header__menu-body .header__additional-menu ul li a {
    color: white;
}
.header__menu-body .header__additional-menu .languages a.active {
    color: #ffd700;
    pointer-events: none;
}
  .header-search {
  }

  article.timeline {
    background-color: #546e7a;
    flex: 2 2 12em;
    padding: 1em;
    border-radius: 3px;
  }

  nav,
  aside {
    flex: 1;
    /*background-color: #ffffff;*/
    border-radius: 3px;
    color: black;
  }

  nav {
    order: -1;
    border-radius: 3px;
  }

  header,
  footer {
    flex: 0 0 5em;
    background-color: rgb(192, 192, 192);
  }
  footer {
    border-radius: 3px;
  }

  .header-block {
    font-size: 1em;
  }
  .left-sidebar, .right-sidebar {
    /*padding: 1em 0.6em 1em 0.6em;*/
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 0.95em;
  }
  .left-sidebar a, .right-sidebar a {
    color: #002b71;
  }
  .left-sidebar a:hover, .right-sidebar a:hover {
    color: #73b5e5;
    border-bottom: 1px solid #73b5e5;
  }

  .left-sidebar__body {

  }
  .main-cup {
    /*font-family: tahoma, Arial, Helvetica, sans-serif;*/
    /*font-size: 0.95em;*/
    padding: 1.5em 0.6em 1.5em 0.6em;
    background-color: #e7f3fa;
    border-radius: 3px;
  }
  /*.main-cup a {
    color: #002b71;
  }*/
  .main-cup a:hover {
    color: #73b5e5;
    border-bottom: 1px solid #73b5e5;
  }
  .main-cup__header {
    text-align: center;
    margin-bottom: 0.5em;
    font-family: tahoma, Arial, Helvetica, sans-serif;
    color: #1f73cc;
  }
  .main-cup__header span {
    /*text-transform: uppercase;
    font-weight: 800;*/
  }
  .term, 
  .lead,
  .term2,
  .lead2 {
    text-transform: uppercase;
    font-weight: 800;
  }

  .main-cup__header .main-cup__term {
  }
  .main-cup__header .main-cup__lead {
    /*color: #265a92;*/
    /*color: #1e78d9;*/
    color: #1f73cc;
  }
  .main-cup__body, .main-cup__footer {
    /* ! font-size: 0.95em;*/
  }

  table.main-cup__top10,
  table.stars-table,
  table.popular__table {
    border-collapse: collapse;
    width: 100%;
  }

  .main-cup__top10 td,
  .main-cup__top10 th,
  .stars-table td,
  .popular__table td {
    padding: 2.4px;
  }
  .stars-table td,
  .popular__table td {
    padding-left: 0;
  }
  .main-cup__top10 th {
    font-family: Arial, tahoma, Helvetica, sans-serif;
  }
  table.main-cup__top10 tbody tr {
    line-height: 17.95px;
  }
  table.main-cup__top10 thead tr th:nth-child(3) {
    text-align: left;
  }
  table.main-cup__top10 thead tr th:first-child {
    text-align: center;
  }
  table.main-cup__top10 tbody tr td:first-child, table.main-cup__top10 tbody tr td:last-child {
    text-align: center;
    font-family: Arial, tahoma, Helvetica, sans-serif;
  }
  table.main-cup__top10 tbody tr td:first-child {
    font-weight: 600;
    font-size: 0.9em;
    vertical-align: middle;
    padding-bottom: 5px;
  }
  table.main-cup__top10 tbody tr td:nth-child(2) img {
    /*vertical-align: middle;*/
    vertical-align: baseline;
  }
  table.main-cup__top10 tbody tr td:nth-child(3){
    /*vertical-align: baseline;*/
  }
  table.main-cup__top10 tbody tr:nth-child(2n+1) {
    background-color: #d1ebfb;
  }
  .main-cup__top10 .active {
    color: red;
  }
  .main-cup__top10 .active:hover {
    border-bottom: 1px solid rgb(227, 0, 0);
    color: rgb(227, 0, 0);
  }
  .main-cup__footer {
  }
  .footer__all {
    padding-top: 0.6em;
    text-align: center;
  }
  .main-cup__refer {
  }

  .slider-block {
    /*padding: 1.5em 0.6em 1.5em 0.6em;
    text-align: center;
    background-color: #e7f3fa;
    border-radius: 3px;*/
  }
  .slider-block__body a:hover {
    color: initial;
    border: none;
  }
  .swiper-slide {
  }
  .swiper-slide img {
    max-width: 100%;
  }
  .slider-block__header {
  }
  .head__all {
    margin-bottom: 0.5em;
    font-family: tahoma, Arial, Helvetica, sans-serif;
    color: #1f73cc;
  }
  .slider-block {
  }
  /* .swiper-container {
    box-sizing: border-box;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
  } */
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-container {
    position: relative !important;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
  }
  .swiper-button-next:hover, .swiper-button-prev:hover {
    color: #73b5e5 !important;
  }
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 0px !important;
  }
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 0px !important;
  }
  .swiper-button-next {
    padding-right: 15px !important;
  }
  .swiper-button-prev {
    padding-left: 15px !important;
  }
  .swiper-button-next, .swiper-button-prev {
  }
  .swiper-lazy-preloader {
  }
  .slider-block__body {
  }
  .slider-block__footer {
  }

.slider-block {
}
.slider-block__head {
}
.slider-block__term {
}
.slider-block__lead {
}
.slider-block__body {
}
.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-lazy {
}
.swiper-lazy-preloader {
}
.swiper-button-prev {
}
.swiper-button-next {
}
.swiper-pagination {
}
.slider-block__footer {
}
.slider-block__refer {
}


.next-race-block {
}
.next-race-block__head {
  text-align: center;
}
.next-race-block__term {
}
.next-race-block__body {
}
.next-race-block__event {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.next-race-block__name {
  font-weight: 600;
}
.next-race-block__name img {
  padding-right: 5px;
  vertical-align: middle;
  padding-bottom: 2px;
}
.next-race-block__time {
}
.next-race-block__time span {
  font-weight: 600;
}
.next-race-block__time span:first-child {
  padding-right: 10px;
}
.next-race-block__type {
}


.next-translate-block {

}
.next-translate-block__head {
  text-align: center;
}
.next-translate-block__term {
}
.next-translate-block__body {
}
.next-translate-block__event {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.next-translate-block__name {
  font-weight: 600;
}
.next-translate-block__name img {
  padding-right: 5px;
  vertical-align: middle;
  padding-bottom: 2px;
}
.next-race-block__flag {
}
.next-translate-block__time {
}
.next-translate-block__time span {
  font-weight: 600;
}
.next-translate-block__time span:first-child {
  padding-right: 10px;
}
.next-translate-block__type {
}


.blogs-block {
}
.blogs-block__head {
  text-align: center;
}
.blogs-block__body {
}
.blogs-block__item span {
  display: flex;
}
.blogs-block__item {
  padding-bottom: 0.7em;
  padding-top: 0.7em;
  border-bottom: 1px solid #c0d1db;
}
.blogs-block__item:nth-child(1) {
  padding-top: 0em;
}
.blogs-block__item:last-of-type {
  padding-bottom: 0em;
  border-bottom: none;
}
.blogs-block__time {
  font-weight: 600;
}
.blogs-block__name {
}



  .right-sidebar {

  }
  
.comment-block {
}
.comment-block__header {
  text-transform: uppercase;
  padding: 0 0.6em 0 0.6em;
  font-family: tahoma, Arial, Helvetica, sans-serif;
  color: #1f73cc;
}
.term2{
}
.lead2 {
  color: #1e78d9;
}

.comment-block__body {
}

.sidebar-block {
  padding: 1.5em 1em 1.5em 1em;
  text-align: center;
  background-color: #e7f3fa;
  border-radius: 3px;
}

.sidebar-block2 {
  padding: 1.5em;
  text-align: center;
  background-color: #e7f3fa;
  border-radius: 3px;
}
.sidebar-block3 {
  padding: 1.5em;
  background-color: #e7f3fa;
  border-radius: 3px;
}

.comment-block__gossip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 0.6em 0 0.6em; */
  line-height: 3em;
}
.comment-block__gossip span:first-child {
  padding: 0 1.1em 0 0;
}
.comment-block__user {
  display: flex;
  align-items: center;
}
a.user:hover {
  border: none;
}
.comment-block__user::before {
  content: "\f2bd";
  font-family: 'Line Awesome Free';
  font-size: 2.5em;
  padding-right: 0.15em;
}
.comment-block__user:hover:before {
  color: #002b71;
}
.comment-block__data {
  display: flex;
}
.comment-block .comment-block__rumor {
  display: flex;
  text-align: left;
  max-height: 8.4em;
  min-height: 5.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  background-color: rgb(246, 253, 255);
  /*box-shadow: inset 0px 0px 5px rgb(131, 131, 131);*/
  /*box-shadow: inset 0px 0px 5px #8a9da9;*/
  box-shadow: 0 1px 2px rgba(0,0,0,.5) inset, 0 -1px 0 rgba(0,0,0,.2) inset;
  padding: 0.6em;
  border-radius: 3px;
  color: black;
}
.comment-block a.comment-block__rumor:hover {
  border-bottom: none;
  text-decoration: underline;
}
.comment-block__footer {
  padding-top: 0.8em;
}

.stars-block {
}
.stars-block__head {
}
.stars-block__term {
}
.stars-block__body {
}
table.stars-table tbody tr td:nth-child(1) img,
table.popular__table tbody tr td:nth-child(1) img {
  vertical-align: middle;
  padding-bottom: 2px;
}
table.stars-table tbody tr td:nth-child(2),
table.popular__table tbody tr td:nth-child(2) {
  vertical-align: baseline;
}
table.stars-table tbody tr td:nth-child(2),
table.popular__table tbody tr td:nth-child(2) {
  text-align: left;
}
table.stars-table tbody tr td:nth-child(3)::before {
  content: "\f005";
  font-family: FontAwesome;
  color: rgb(47, 111, 200);
  padding-right: 5px;
  font-size: 0.9em;
}
table.stars-table tbody tr td:nth-child(1),
table.popular__table tbody tr td:nth-child(1) {
  width: 25.2833px;
  text-align: left;
  padding-left: 0;
}
table.stars-table tbody tr,
table.popular__table tbody tr {
  line-height: 20.55px;
}

.stars-table {
}
.stars-block__footer {
}

.vote-block {
}
.vote-block__head {
}
.vote-block__term {
}
.vote-block.sidebar-block .vote-block__body {
  text-align: left;
}
.vote-block__question {
  margin-bottom: 1em;
  /*text-align: left;*/
}
.vote-block__voited {
  margin-bottom: 2em;
}
.vote-block__voited:nth-last-child(2) {
  margin-bottom: 2.5em;
}
.vote-block__option {
  margin-bottom: 0.1em;
}
.vote-block__bar {
  position: relative;
  background-color: rgba(73, 167, 194, 0.12);
  height: 1.2em;
  border-radius: 3px;
}
.vote-block__votes {
  font-size: 0.9em;
  font-family: Arial;
  position: absolute;
  right: 10px;
  top: -1px;
  margin-left: 0.70em;
  margin-top: 1.6em;
}
.vote-block__percent {
  height: inherit;
  background-color: rgb(47, 111, 200);
  border-radius: 3px;
}
.vote-block__total-votes {
  text-align: right;
  padding-right: 10px;
}

/*! Твиттер старт*/
.twitter-block {
  /* padding: 1.5em 0px 1.5em 0px; */
  text-align: center;
  border-radius: 3px;
}
.twitter-block__head {
  padding: 1.5em 0 0.5em 0;
  font-family: tahoma, Arial, Helvetica, sans-serif;
  color: #1f73cc;
  background-color: rgb(231, 243, 250);
  border-radius: 3px 3px 0px 0px;
}
.twitter-block__term {
}
.twitter-block__body {
  box-shadow: 0 1px 2px rgb(0 0 0 / 50%) inset, 0 -1px 0 rgb(0 0 0 / 20%) inset !important;
  border-radius: 3px;
  margin: 0 0px 0 0px;
}
/* .twitter-block__footer {
  padding-top: 1.5em;
  background-color: rgb(231, 243, 250);
  border-radius: 0px 0px 3px 3px;
} */

/*! Лента Твиттера*/
.timeline-Header {
  background-color: #e7f3fa !important;
}
.SandboxRoot.env-bp-min .timeline-Tweet-text {
  color: black;
}
#twitter-widget-0 {
  max-height: 500px !important;
  height: 500px !important;
  margin-bottom: -5px !important;
  margin-left: 2.2px !important;
  margin-top: 2.2px !important;
  width: 99% !important;
}
.TweetAuthor a {
  color: #002b71 !important;
}
.TweetAuthor a:hover {
  color: #73b5e5 !important;
}
.timeline-Tweet-text a {
  color: #002b71 !important;
}
.timeline-Tweet-text a:hover {
  color: #73b5e5 !important;
  border-bottom: 1px solid #73b5e5 !important;
}
.timeline-Tweet {
  border-bottom: 1px solid #c0d1db !important;
}
.Icon.Icon--share.TweetAction-icon:hover {
  color: #73b5e5 !important;
}
.timeline-Tweet-text {
  margin-bottom: 0px !important;
}
.timeline-ShowMoreButton {
  padding: 0px 0 !important;
  margin: 10px 0 10px 0 !important;
  border-radius: 3px !important;
}
/*! Твиттер конец*/



.vote-block__footer {
}
.popular-block {
}
.popular-block__head {
}
.popular-block__body {
}
.popular-block__search-form form {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 0.5em;
}
.popular-block__search-form input, .popular-block__search-form button {
  border: none;
  outline: none;
  border-radius: 3px;
}
.popular-block__search-form input {
  width: 100%;
  height: 33px;
  background: #fff;
  padding: 0 35px 0 15px;
  /*box-shadow: inset 0px 0px 5px #8a9da9;*/
  box-shadow: 0 1px 2px rgba(0,0,0,.5) inset, 0 -1px 0 rgba(0,0,0,.2) inset;
}
.popular-block__search-form input:focus::-moz-placeholder { 
  color: transparent;
}
.popular-block__search-form input:focus::-webkit-input-placeholder {
  color: transparent;
}
.popular-block__search-form input:focus:-ms-input-placeholder {
  color: transparent;
}
.popular-block__search-form button {
  height: 31px;
  width: 31px;
  position: absolute;
  top: 1px;
  right: 1.22px;
  cursor: pointer;
  background: none;
}
.popular-block__search-form button::before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: rgba(0,0,0,.3);
}
.popular-block__search-form button:hover::before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: rgba(0,0,0,.5);
}

.popular-block__footer {
}

.interview-block {
}
.interview-block__head {
}
.interview-block__body {
}
.interview-block__items {
  border-bottom: 1px solid #c0d1db;
  text-align: left;
  margin-top: 0.7em;
  padding-bottom: 0.7em;
}
.interview-block__items:first-of-type {
  /* padding-top: 0; */
}
.interview-block__items:last-child {
  border-bottom: none;
  padding: 0.7em 0 0 0;
}
.interview-block__said {
  display: flex;
  margin-bottom: 0.5em;
}
.interview-block__gossip_image {
  background-color: rgba(103,155,205,1.00);
  width: 3.50em;
  height: 3.50em;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin-right: 0.50em;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.interview-block > .interview-block__body > .interview-block__items:nth-child(1) > .interview-block__said > .interview-block__gossip_image {
  background-image: url(//www.biathlon.com.ua/uploads/2021/132527.jpg);
}
.interview-block > .interview-block__body > .interview-block__items:nth-child(2) > .interview-block__said > .interview-block__gossip_image {
  background-image: url(//www.biathlon.com.ua/uploads/2019/87630.jpg);
}
.interview-block > .interview-block__body > .interview-block__items:nth-child(3) > .interview-block__said > .interview-block__gossip_image {
  background-image: url(//www.biathlon.com.ua/uploads/1/12218.jpg);
}
.interview-block > .interview-block__body > .interview-block__items:nth-child(4) > .interview-block__said > .interview-block__gossip_image {
  background-image: url(//www.biathlon.com.ua/uploads/2/20537.jpg);
}
.interview-block > .interview-block__body > .interview-block__items:nth-child(5) > .interview-block__said > .interview-block__gossip_image {
  background-image: url(//www.biathlon.com.ua/uploads/2018/80773.jpg);

}
.interview-block__gossip_exile {
  margin-top: 0.25em;
}
.interview-block__gossip_name {
}
.interview-block__gossip_date {
  display: flex;
}
.interview-block__gossip_date span:first-child {
  padding-right: 1.1em;
}
.interview-block__rumor {
}
.interview-block__footer {
}

article.timeline {
  max-width: 100%;
}
nav, aside {
  max-width: 100%;
}
  @media screen and (min-width: 992px) {
    body {
      min-height: 100vh;
      padding: 0;
    }
    main {
      flex-direction: row;
      min-height: 100%;
      flex: 1 1 auto;
    }
    article.timeline {
      max-width: 56.84%;
    }
    nav, aside {
      max-width: 21.58%;
    }
  }