@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?byqh0e');
  src:  url('fonts/icomoon.eot?byqh0e#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?byqh0e') format('truetype'),
    url('fonts/icomoon.woff?byqh0e') format('woff'),
    url('fonts/icomoon.svg?byqh0e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pause3:before {
  content: "\e013";
}
.icon-stop4:before {
  content: "\e012";
}
.icon-stop2:before {
  content: "\e009";
}
.icon-pause2:before {
  content: "\e010";
}
.icon-comment:before {
  content: "\e008";
}
.icon-hour:before {
  content: "\e007";
}
.icon-admin:before {
  content: "\e006";
}
.icon-arrow-down1:before {
  content: "\e004";
}
.icon-Watch:before {
  content: "\e003";
}
.icon-bell-5:before {
  content: "\e001";
}
.icon-settings:before {
  content: "\e919";
}
.icon-exit2:before {
  content: "\e9b";
}
.icon-user-check4:before {
  content: "\e9a";
}
.icon-arrow-down:before {
  content: "\e9c";
}
.icon-ret3:before {
  content: "\e916";
}
.icon-search-remove-icon2:before {
  content: "\e915";
}
.icon-no-data:before {
  content: "\e90f";
}
.icon-fotogallery:before {
  content: "\e90c";
}
.icon-pdf:before {
  content: "\e90b";
}
.icon-calendar-circle:before {
  content: "\e900";
}
.icon-arrow-right3:before {
  content: "\e910";
}
.icon-comments2:before {
  content: "\e907";
}
.icon-calendar1:before {
  content: "\e909";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-arrow-list:before {
  content: "\e901";
}
.icon-clock2:before {
  content: "\e905";
}
.icon-user-male:before {
  content: "\e903";
}
.icon-user-female:before {
  content: "\e904";
}
.icon-stop3:before {
  content: "\e011";
}
.icon-cocktail:before {
  content: "\e917";
}
.icon-telegram:before {
  content: "\e90e";
}
.icon-aim3:before {
  content: "\e913";
}
.icon-aim2:before {
  content: "\e912";
}
.icon-new:before {
  content: "\e90d";
}
.icon-external-reference2:before {
  content: "\e90a";
}
.icon-External-reference:before {
  content: "\e911";
}
.icon-comments:before {
  content: "\e906";
}
.icon-Mail-open:before {
  content: "\e002";
}
.icon-014:before {
  content: "\e914";
}
.icon-number33:before {
  content: "\e908";
}
.icon-play:before {
  content: "\e014";
}
.icon-arrow-down3:before {
  content: "\e005";
}
.icon-no_data:before {
  content: "\e918";
}
